{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Confirmar Exclusão - Casa Amarela</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Confirmar Exclusão</h1>
        <p>Tem certeza de que deseja excluir o produto "<strong>{{ produto.nome }}</strong>"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sim, excluir</button>
            <a href="{% url 'produto-list' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
